<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon class="icon-m" slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content color="secondary">
  <ion-icon id="open-modal" class="icon" name="person-circle-sharp"></ion-icon>

  <h2>Bienvenido</h2>

  <br><br><br><br>
  <a href="">cambiar nombre </a>
  <a href=""> cambiar contraseña </a>
  <br>
  <ion-button expand="block" fill="outline" [routerLink]="['/home']">Cerrar sesion</ion-button>
</ion-content>