<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      TellevoAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

  <div id="container">
    <div class="login-box">
      <br><br>
      <ion-card >
        <form [formGroup]="formularioLogin" class="formulario">

          <ion-item >
            <div class="userbox">
              <ion-label position="floating">correo</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </div>
          </ion-item>

          <ion-item style="background-color: blue;">
            <ion-label position="floating" style="background: transparent; z-index: 1;"> Contraseña</ion-label>
            <ion-input type="password" formControlName="password" style="background: transparent; z-index: 0;"></ion-input>
          </ion-item>
          <br><br>
          <ion-button fill="outline" (click)="ingresar()" > ingresar</ion-button>

        </form>

      </ion-card>
      <br><br>


    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']"> Volver al inicio </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>