<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <div class="">
      <br><br>
      <ion-card>
        <form>

          <ion-item>
            <ion-label position="floating">correo</ion-label>
            <ion-input type="email" placeholder="****@***.**">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating"> Contraseña</ion-label>
            <ion-input type="password" placeholder="******"></ion-input>
          </ion-item>

          <br><br>

          <a href="#"> ¿olvidaste tu contraseña? </a>
        </form>

      </ion-card>
      <br><br>
      <ion-button> ingresar</ion-button>


    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']"> Volver al inicio </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>