<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      TellevoAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

  <div   id="container">
    <div class="">
      <br><br>
      <ion-card>
        <form [formGroup]="formularioLogin">

          <ion-item>
            <ion-label position="floating">correo</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating"> Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <br><br>
          <ion-button fill="outline" (click)="ingresar()" [routerLink]="['/inicio']"> ingresar</ion-button>

        </form>

      </ion-card>
      <br><br>


    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']"> Volver al inicio </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>