@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.tit{
    font-family: 'Rock Salt', cursive;
}
.fon{
    background-color: black;
}



.caja-one{
    position: relative;
    margin: auto;
    display: block;
    background: linear-gradient(to bottom, rgb(255, 136, 0), rgb(255, 226, 203));
    height: 30vh;
    width: 85%;
    max-width:100%;
    max-height: 100%;
    border-radius: 6px;
}

.icon{

    float: right;
    height: 40px;
    width: 40px;
    max-width: 100%;
    max-height: 100%;
}

.icon-m{
    height: 60px;
    width: 60px;
    max-width: 100%;
    max-height: 100%;
}
.icon-u{
    position: sticky;
    height: 70px;
    width: 70px;
    max-width: 70px;
    max-height: 70px;

}

.conteudo{
    display: flex;
    width: 350px;
    scroll-snap-type: x mandatory;
    scroll-padding: 25px;
    column-gap: 20px;

}

.card {
    flex: 0 0 100%;
    padding: 30px;
    scroll-snap-align: start;
    border-radius: 30px;
}

.hora {
    position: relative;
    display: block;
    justify-content: center;
    height: 5px;
    width: 400px;

}

h3{
    position: relative;
    display: block;
    text-align: center;
    float: 55vh;
    margin: auto;
}