<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <!--menu-->
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon class="icon-m" slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--modal-->
    <div class="ion-padding">
      <ion-icon [routerLink]="['/perfil']" class="icon" name="person-circle-sharp"></ion-icon>
    </div>
    <ion-title class="tit">
      Te Llevo APP
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content color="dark" class="fon">


  <div id="container">
    <ion-datetime-button class="hora" datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>

    <br><br>
    <div class="caja-one">
      <h3>Autos Disponibles</h3>


    </div>
    <br><br><br><br>
    <div class="carrusel">
    </div>


  </div>




  <!--gif-->
  <img src="/src/assets/icon/mapis.jpg" alt="map">

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Mensaje">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>Mensajes</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Solicitar">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Solicitar Auto</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Actividades">
        <ion-icon name="bookmark-outline"></ion-icon>
        <ion-label>Actividades</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>



</ion-content>