<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div id="container">
    <div class="">
      
      <ion-card>
        <form [formGroup]="formularioRegistro" (keyuo.enter)="guardar()">
          <ion-item>
            <ion-label position="floating">Nombre completo</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">correo</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating"> Contraseña</ion-label>
            <ion-input type="password" formControlName="password" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating"> Verificar Contraseña</ion-label>
            <ion-input type="password" formControlName="confirmacionPassword"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">patente</ion-label>
            <ion-input type="text" formControlName="patente"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">color</ion-label>
            <ion-input type="text" formControlName="color"></ion-input>
          </ion-item>
          
          <ion-button (click)="guardar()" [routerLink]="['/home']"> registrar</ion-button>
        
        </form>    
      </ion-card>

      <ion-button> ingresar</ion-button>

    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']"> Volver al inicio </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
