<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      TellevoAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

  <div id="container">
    <div class="" >
      
      <ion-card fill="outline" >
        <form [formGroup]="formularioRegistro" (keyuo.enter)="guardar()">
          <ion-item>
            <ion-label position="floating">Nombre completo</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">correo</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating"> Contraseña</ion-label>
            <ion-input type="password" formControlName="password" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating"> Verificar Contraseña</ion-label>
            <ion-input type="password" formControlName="confirmacionPassword"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">patente</ion-label>
            <ion-input type="text" formControlName="patente"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">color</ion-label>
            <ion-input type="text" formControlName="color"></ion-input>
          </ion-item>
        </form>  
        <br><br>  
        <ion-button fill="outline"(click)="guardar()" [routerLink]="['/inicio']"> registrar</ion-button>

      </ion-card>

    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/registro-gen']"> Volver al inicio </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
